.menu-btn-container:hover {
  background-color: #3510c5;
}

.menu-info-container {
  width: 350px;
  height: 250px;
  position: fixed;
  opacity: 1;
  bottom: 2rem;
  right: 2rem;
  box-shadow: 0 2px 5px rgba(16, 16, 16, 0.44);
  transition: all 0.3s ease-in-out;
  background-color: white;
  overflow-y: scroll;
}

.menu-info-container__header {
  color: white;
  text-align: center;
  background-color: #3a10e5;
  padding: 1rem;
}

.menu-info-container__header h3 {
  margin: 0;
}

.menu-info-container__body {
  padding: 1rem;
  border-bottom-left-radius: 10px;
  line-height: 1.5;
}

.menu-info-container__button {
  background-color: #3a10e5;
  color: #ffffff;
  padding: 1rem;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s linear;
}

@media (max-width: 768px) {
  .menu-btn-container {
    bottom: 1rem;
    right: 1rem;
  }

  .menu-info-container {
      right: 1rem;
      bottom: 2rem;
      width: 250px;
      height: 200px;
  }

  .menu-info-container__body,
  .menu-info-container__header {
    padding: 0.7rem;
  }
}
