.card-list-container {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem auto;
  max-width: 1220px;
}

.card-list-container img {
  width: 120px;
  height: 120px;
}


@media(max-width: 768px) {
  .card-list-container {
    width: 100%;
  }
}
